<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Movie</title>
</head>
<body>
        <form action="/editMovie" method="POST" >
            Title:<br>
            <input type="text" name="title" readonly value="{{resource.Item.title}}"><br>
            Year:<br>
            <input type="number" name="year" readonly value="{{resource.Item.year}}"><br>
            Plot:<br>
            <input type="text" name = "plot"><br>
            Rating:<br>
            <input type="number" name="rating"><br>
            <button type="submit">Update Movie</button>
        </form>      
</body>
</html>