<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies List</title>
</head>
<body>
    <table>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Actors</th>
        </tr>
        {% for item in res.Items %}
        <tr>
            <td>{{item.title}}</td>
            <td>{{item.year}}</td>
            <td>{{item.info.actors}}</td>
        </tr>
        {% endfor %}
      
    
    </table>          
</body>
</html>